<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Edit a wiki here.</p>
  </div>
  <div class="col-md-8">
    <%= form_for @wiki do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki title" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki text" %>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
      <% if current_user.admin? || (current_user.premium? && current_user.wikis.include?(@wiki)) %>
          <div class="form-group">
            <%= f.label :private, class: 'checkbox' do %>
              <%= f.check_box :private, checked: @wiki.private? %> Private
            <% end %>
          </div>
      <% end %>
    <% end %>
    <% if current_user.admin? || (current_user.premium? && current_user.wikis.include?(@wiki)) %>
      <%= form_tag(collaborators_path) do %>
          <div class="form-group">
            <%= label_tag "Add Collaborator" %>
            <%= text_field_tag :user_email, nil, class: 'form-control', placeholder: "Enter collaborator email" %>
          </div>
          <%= hidden_field_tag :wiki_id, @wiki.id %>
          <div class="form-group">
            <%= submit_tag "Add", class: 'btn btn-primary' %>
          </div>
      <% end %>
      <%= form_tag(collaborator_path, method: "delete") do %>
          <div class="form-group">
            <%= label_tag "Remove Collaborator" %>
            <%= text_field_tag :user_email, nil, class: 'form-control', placeholder: "Enter collaborator email" %>
          </div>
          <%= hidden_field_tag :wiki_id, @wiki.id %>
            <div class="form-group">
              <%= submit_tag "Remove", class: 'btn btn-danger' %>
            </div>
      <% end %>
    <% end %>
  </div>
</div>
