<div class="container top-buffer">
  <%= link_to "View All Wikis", wikis_path, class: 'btn btn-info' %>
  <h1 class="top-buffer">
    <%= @wiki.title %>
  </h1>
  <% if @wiki.private == true %>
    <div class="text-warning">
      Private
    </div>
  <% end %> <br>
  <div class="media">
    <div class="media-body">
      <div class="media-heading text-primary">Creator:</div>
      <h4><%= @wiki.user.username %></h4>
      </div>
    <div class="media-body">
      <div class="media-heading text-primary">Collaborators:</div>
      <h4>
        <% collab_list = "" %>
        <% @wiki.collaborators.each do |collab|%>
          <% collab_list << (collab.user.username + ", ")%>
        <% end %>
        <%= collab_list.chomp(", ") %>
      </h4>
    </div>
  </div>
  <div class="top-buffer">
    <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
    <% if policy(@wiki).destroy? %>
      <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete this wiki?"} %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p><%= markdown(@wiki.body) %></p>
    </div>
  </div>
</div>
